In [1]:
import pandas as pd

In [2]:
path = r"C:\Users\Prashant Singh\OneDrive\Documents\Internships\Mentorness\Task 3 CO2 emission Data Analysis\visualizing_global_co2_data.csv"
df = pd.read_csv(path)
df.head(10)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3767956.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.165,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3783940.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,Afghanistan,1853,AFG,3800954.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.164,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,Afghanistan,1854,AFG,3818038.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.163,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5,Afghanistan,1855,AFG,3835192.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
6,Afghanistan,1856,AFG,3852417.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
7,Afghanistan,1857,AFG,3869714.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
8,Afghanistan,1858,AFG,3887081.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.162,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
9,Afghanistan,1859,AFG,3904521.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.161,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
df.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct',
       'co2_including_luc', 'co2_including_luc_growth_abs',
       'co2_including_luc_growth_prct', 'co2_including_luc_per_capita',
       'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy',
       'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_luc_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita',
       'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'land_use_change_co2', 'land_use_change_co2_per_capita', 'methane',
       'methane_per_capita', 'nitrous_oxide', 'nitrous_oxide_per_capita',
       'oil_co2', 'oil_co2_per_capita', 'other_co2_per_capita',
       'other_industry_co2', 'primary_energy_consumption',
       'share_global_cement_co2', 'share_global_co2',
       'share_global_co2_including_luc', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2', 'share_global_cumulative_co2',
       'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_luc_co2',
       'share_global_cumulative_oil_co2', 'share_global_cumulative_other_co2',
       'share_global_flaring_co2', 'share_global_gas_co2',
       'share_global_luc_co2', 'share_global_oil_co2',
       'share_global_other_co2', 'share_of_temperature_change_from_ghg',
       'temperature_change_from_ch4', 'temperature_change_from_co2',
       'temperature_change_from_ghg', 'temperature_change_from_n2o',
       'total_ghg', 'total_ghg_excluding_lucf', 'trade_co2',
       'trade_co2_share'],
      dtype='object')

In [4]:
df.shape

(50598, 79)

In [5]:
df.isnull()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_other_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,False,False,False,False,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,False,False,False,False,True,True,True,True,True,True,...,True,False,False,False,False,False,True,True,True,True
2,False,False,False,False,True,True,True,True,True,True,...,True,False,False,False,False,False,True,True,True,True
3,False,False,False,False,True,True,True,True,True,True,...,True,False,False,False,False,False,True,True,True,True
4,False,False,False,False,True,True,True,True,True,True,...,True,False,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50593,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
50594,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
50595,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
50596,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,True,True,False,False
50597,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,True,True,True,True

In [8]:
missing_values = df.isnull().sum()
missing_values

country                            0
year                               0
iso_code                        8456
population                     10590
gdp                            36034
                               ...
temperature_change_from_n2o    12978
total_ghg                      44449
total_ghg_excluding_lucf       44449
trade_co2                      46339
trade_co2_share                46340
Length: 79, dtype: int64

In [10]:
sorted_missing_values = missing_values.sort_values(ascending=False)
print(sorted_missing_values)

other_co2_per_capita                    48212
share_global_other_co2                  48212
share_global_cumulative_other_co2       48212
other_industry_co2                      48212
cumulative_other_co2                    48212
                                        ...
share_of_temperature_change_from_ghg     8874
temperature_change_from_co2              8874
iso_code                                 8456
year                                        0
country                                     0
Length: 79, dtype: int64

In [11]:
# Define the threshold percentage
threshold = 50  # percentage

# Calculate the percentage of missing values for each column
missing_percentage = df.isnull().mean() * 100

# Drop columns where the percentage of missing values exceeds the threshold
columns_to_drop = missing_percentage[missing_percentage > threshold].index
df_cleaned = df.drop(columns=columns_to_drop)

print("Columns dropped:", columns_to_drop)
print(df_cleaned)

Columns dropped: Index(['gdp', 'cement_co2', 'cement_co2_per_capita', 'co2_growth_prct',
       'co2_including_luc', 'co2_including_luc_growth_abs',
       'co2_including_luc_growth_prct', 'co2_including_luc_per_capita',
       'co2_including_luc_per_gdp', 'co2_including_luc_per_unit_energy',
       'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2', 'coal_co2_per_capita',
       'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2',
       'cumulative_co2_including_luc', 'cumulative_coal_co2',
       'cumulative_flaring_co2', 'cumulative_gas_co2', 'cumulative_oil_co2',
       'cumulative_other_co2', 'energy_per_capita', 'energy_per_gdp',
       'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'oil_co2', 'oil_co2_per_capita',
       'other_co2_per_capita', 'other_industry_co2',
       'primary_energy_consumption', 'share_global_cement_co2',
       'share_global_co2_including_luc', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2',
       'share_global_cumulative_co2_including_luc',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_other_co2', 'share_global_flaring_co2',
       'share_global_gas_co2', 'share_global_oil_co2',
       'share_global_other_co2', 'total_ghg', 'total_ghg_excluding_lucf',
       'trade_co2', 'trade_co2_share'],
      dtype='object')
           country  year iso_code  population     co2  co2_growth_abs  \
0      Afghanistan  1850      AFG   3752993.0     NaN             NaN
1      Afghanistan  1851      AFG   3767956.0     NaN             NaN
2      Afghanistan  1852      AFG   3783940.0     NaN             NaN
3      Afghanistan  1853      AFG   3800954.0     NaN             NaN
4      Afghanistan  1854      AFG   3818038.0     NaN             NaN
...            ...   ...      ...         ...     ...             ...
50593     Zimbabwe  2017      ZWE  14751101.0   9.596          -0.937
50594     Zimbabwe  2018      ZWE  15052191.0  11.795           2.199
50595     Zimbabwe  2019      ZWE  15354606.0  11.115          -0.681
50596     Zimbabwe  2020      ZWE  15669663.0  10.608          -0.507
50597     Zimbabwe  2021      ZWE  15993525.0  11.296           0.688

       co2_per_capita  cumulative_co2  cumulative_luc_co2  \
0                 NaN             NaN               2.931
1                 NaN             NaN               5.899
2                 NaN             NaN               8.867
3                 NaN             NaN              11.871
4                 NaN             NaN              14.876
...               ...             ...                 ...
50593           0.651         753.403            2281.390
50594           0.784         765.199            2290.220
50595           0.724         776.313            2298.537
50596           0.677         786.921            2306.415
50597           0.706         798.217            2313.889

       land_use_change_co2  land_use_change_co2_per_capita  share_global_co2  \
0                    2.931                           0.781               NaN
1                    2.968                           0.788               NaN
2                    2.968                           0.784               NaN
3                    3.004                           0.790               NaN
4                    3.004                           0.787               NaN
...                    ...                             ...               ...
50593                9.490                           0.643             0.027
50594                8.830                           0.587             0.032
50595                8.317                           0.542             0.030
50596                7.878                           0.503             0.030
50597                7.475                           0.467             0.030

       share_global_cumulative_co2  share_global_cumulative_luc_co2  \
0                              NaN                            0.121
1                              NaN                            0.119
2                              NaN                            0.118
3                              NaN                            0.118
4                              NaN                            0.117
...                            ...                              ...
50593                        0.047                            0.314
50594                        0.047                            0.314
50595                        0.047                            0.313
50596                        0.046                            0.312
50597                        0.046                            0.312

       share_global_luc_co2  share_of_temperature_change_from_ghg  \
0                     0.121                                   NaN
1                     0.118                                 0.165
2                     0.116                                 0.164
3                     0.115                                 0.164
4                     0.114                                 0.163
...                     ...                                   ...
50593                 0.219                                 0.114
50594                 0.211                                 0.114
50595                 0.183                                 0.113
50596                 0.194                                 0.112
50597                 0.190                                 0.111

       temperature_change_from_ch4  temperature_change_from_co2  \
0                              NaN                          NaN
1                            0.000                        0.000
2                            0.000                        0.000
3                            0.000                        0.000
4                            0.000                        0.000
...                            ...                          ...
50593                        0.001                        0.001
50594                        0.001                        0.001
50595                        0.001                        0.001
50596                        0.001                        0.001
50597                        0.001                        0.001

       temperature_change_from_ghg  temperature_change_from_n2o
0                              NaN                          NaN
1                            0.000                          0.0
2                            0.000                          0.0
3                            0.000                          0.0
4                            0.000                          0.0
...                            ...                          ...
50593                        0.002                          0.0
50594                        0.002                          0.0
50595                        0.002                          0.0
50596                        0.002                          0.0
50597                        0.002                          0.0

[50598 rows x 20 columns]

In [15]:
df_cleaned.isnull().sum()

country                                     0
year                                        0
iso_code                                 8456
population                              10590
co2                                     19249
co2_growth_abs                          21588
co2_per_capita                          23683
cumulative_co2                          21242
cumulative_luc_co2                      11210
land_use_change_co2                     11210
land_use_change_co2_per_capita          14572
share_global_co2                        21242
share_global_cumulative_co2             21242
share_global_cumulative_luc_co2         11210
share_global_luc_co2                    11210
share_of_temperature_change_from_ghg     8874
temperature_change_from_ch4             12978
temperature_change_from_co2              8874
temperature_change_from_ghg              8874
temperature_change_from_n2o             12978
dtype: int64

In [17]:
df_cleaned['iso_code'] = df_cleaned['iso_code'].fillna('Not Available')
df_cleaned.isnull().sum()

country                                     0
year                                        0
iso_code                                    0
population                              10590
co2                                     19249
co2_growth_abs                          21588
co2_per_capita                          23683
cumulative_co2                          21242
cumulative_luc_co2                      11210
land_use_change_co2                     11210
land_use_change_co2_per_capita          14572
share_global_co2                        21242
share_global_cumulative_co2             21242
share_global_cumulative_luc_co2         11210
share_global_luc_co2                    11210
share_of_temperature_change_from_ghg     8874
temperature_change_from_ch4             12978
temperature_change_from_co2              8874
temperature_change_from_ghg              8874
temperature_change_from_n2o             12978
dtype: int64

In [22]:
# Identify duplicate rows
duplicates = df_cleaned[df_cleaned.duplicated()]

print("Duplicate rows:")
print(duplicates)

Duplicate rows:
Empty DataFrame
Columns: [country, year, iso_code, population, co2, co2_growth_abs, co2_per_capita, cumulative_co2, cumulative_luc_co2, land_use_change_co2, land_use_change_co2_per_capita, share_global_co2, share_global_cumulative_co2, share_global_cumulative_luc_co2, share_global_luc_co2, share_of_temperature_change_from_ghg, temperature_change_from_ch4, temperature_change_from_co2, temperature_change_from_ghg, temperature_change_from_n2o]
Index: []

In [24]:
# Separate numerical and non-numerical columns
num_columns = df_cleaned.select_dtypes(include='number').columns
non_num_columns = df_cleaned.select_dtypes(exclude='number').columns

# Calculate means for numerical columns
mean_values = df_cleaned[num_columns].mean()

# Fill missing values in numerical columns with their means
df_filled = df_cleaned[num_columns].fillna(mean_values)

# For non-numerical columns, you might use the mode or a specific value
mode_values = df_cleaned[non_num_columns].mode().iloc[0]
df_filled_non_num = df_cleaned[non_num_columns].fillna("Not available")

# Combine the filled numerical and non-numerical columns
df_filled = pd.concat([df_filled, df_filled_non_num], axis=1)

print("DataFrame with filled missing values (numerical and non-numerical columns):")
print(df_filled)

DataFrame with filled missing values (numerical and non-numerical columns):
       year  population         co2  co2_growth_abs  co2_per_capita  \
0      1850   3752993.0  380.237549        5.703529        3.670732
1      1851   3767956.0  380.237549        5.703529        3.670732
2      1852   3783940.0  380.237549        5.703529        3.670732
3      1853   3800954.0  380.237549        5.703529        3.670732
4      1854   3818038.0  380.237549        5.703529        3.670732
...     ...         ...         ...             ...             ...
50593  2017  14751101.0    9.596000       -0.937000        0.651000
50594  2018  15052191.0   11.795000        2.199000        0.784000
50595  2019  15354606.0   11.115000       -0.681000        0.724000
50596  2020  15669663.0   10.608000       -0.507000        0.677000
50597  2021  15993525.0   11.296000        0.688000        0.706000

       cumulative_co2  cumulative_luc_co2  land_use_change_co2  \
0         10842.39956               2.931                2.931
1         10842.39956               5.899                2.968
2         10842.39956               8.867                2.968
3         10842.39956              11.871                3.004
4         10842.39956              14.876                3.004
...               ...                 ...                  ...
50593       753.40300            2281.390                9.490
50594       765.19900            2290.220                8.830
50595       776.31300            2298.537                8.317
50596       786.92100            2306.415                7.878
50597       798.21700            2313.889                7.475

       land_use_change_co2_per_capita  share_global_co2  \
0                               0.781          4.997196
1                               0.788          4.997196
2                               0.784          4.997196
3                               0.790          4.997196
4                               0.787          4.997196
...                               ...               ...
50593                           0.643          0.027000
50594                           0.587          0.032000
50595                           0.542          0.030000
50596                           0.503          0.030000
50597                           0.467          0.030000

       share_global_cumulative_co2  share_global_cumulative_luc_co2  \
0                         5.117402                            0.121
1                         5.117402                            0.119
2                         5.117402                            0.118
3                         5.117402                            0.118
4                         5.117402                            0.117
...                            ...                              ...
50593                     0.047000                            0.314
50594                     0.047000                            0.314
50595                     0.047000                            0.313
50596                     0.046000                            0.312
50597                     0.046000                            0.312

       share_global_luc_co2  share_of_temperature_change_from_ghg  \
0                     0.121                              2.190116
1                     0.118                              0.165000
2                     0.116                              0.164000
3                     0.115                              0.164000
4                     0.114                              0.163000
...                     ...                                   ...
50593                 0.219                              0.114000
50594                 0.211                              0.114000
50595                 0.183                              0.113000
50596                 0.194                              0.112000
50597                 0.190                              0.111000

       temperature_change_from_ch4  temperature_change_from_co2  \
0                         0.002956                     0.006886
1                         0.000000                     0.000000
2                         0.000000                     0.000000
3                         0.000000                     0.000000
4                         0.000000                     0.000000
...                            ...                          ...
50593                     0.001000                     0.001000
50594                     0.001000                     0.001000
50595                     0.001000                     0.001000
50596                     0.001000                     0.001000
50597                     0.001000                     0.001000

       temperature_change_from_ghg  temperature_change_from_n2o      country  \
0                         0.010069                     0.000497  Afghanistan
1                         0.000000                     0.000000  Afghanistan
2                         0.000000                     0.000000  Afghanistan
3                         0.000000                     0.000000  Afghanistan
4                         0.000000                     0.000000  Afghanistan
...                            ...                          ...          ...
50593                     0.002000                     0.000000     Zimbabwe
50594                     0.002000                     0.000000     Zimbabwe
50595                     0.002000                     0.000000     Zimbabwe
50596                     0.002000                     0.000000     Zimbabwe
50597                     0.002000                     0.000000     Zimbabwe

      iso_code
0          AFG
1          AFG
2          AFG
3          AFG
4          AFG
...        ...
50593      ZWE
50594      ZWE
50595      ZWE
50596      ZWE
50597      ZWE

[50598 rows x 20 columns]

In [33]:
# Drop duplicates and save the cleaned DataFrame to a CSV file
df_no_duplicates = df_filled.drop_duplicates()
df_no_duplicates

,year,population,co2,co2_growth_abs,co2_per_capita,cumulative_co2,cumulative_luc_co2,land_use_change_co2,land_use_change_co2_per_capita,share_global_co2,share_global_cumulative_co2,share_global_cumulative_luc_co2,share_global_luc_co2,share_of_temperature_change_from_ghg,temperature_change_from_ch4,temperature_change_from_co2,temperature_change_from_ghg,temperature_change_from_n2o,country,iso_code
0,1850,3752993.0,380.237549,5.703529,3.670732,10842.39956,2.931,2.931,0.781,4.997196,5.117402,0.121,0.121,2.190116,0.002956,0.006886,0.010069,0.000497,Afghanistan,AFG
1,1851,3767956.0,380.237549,5.703529,3.670732,10842.39956,5.899,2.968,0.788,4.997196,5.117402,0.119,0.118,0.165000,0.000000,0.000000,0.000000,0.000000,Afghanistan,AFG
2,1852,3783940.0,380.237549,5.703529,3.670732,10842.39956,8.867,2.968,0.784,4.997196,5.117402,0.118,0.116,0.164000,0.000000,0.000000,0.000000,0.000000,Afghanistan,AFG
3,1853,3800954.0,380.237549,5.703529,3.670732,10842.39956,11.871,3.004,0.790,4.997196,5.117402,0.118,0.115,0.164000,0.000000,0.000000,0.000000,0.000000,Afghanistan,AFG
4,1854,3818038.0,380.237549,5.703529,3.670732,10842.39956,14.876,3.004,0.787,4.997196,5.117402,0.117,0.114,0.163000,0.000000,0.000000,0.000000,0.000000,Afghanistan,AFG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50593,2017,14751101.0,9.596000,-0.937000,0.651000,753.40300,2281.390,9.490,0.643,0.027000,0.047000,0.314,0.219,0.114000,0.001000,0.001000,0.002000,0.000000,Zimbabwe,ZWE
50594,2018,15052191.0,11.795000,2.199000,0.784000,765.19900,2290.220,8.830,0.587,0.032000,0.047000,0.314,0.211,0.114000,0.001000,0.001000,0.002000,0.000000,Zimbabwe,ZWE
50595,2019,15354606.0,11.115000,-0.681000,0.724000,776.31300,2298.537,8.317,0.542,0.030000,0.047000,0.313,0.183,0.113000,0.001000,0.001000,0.002000,0.000000,Zimbabwe,ZWE
50596,2020,15669663.0,10.608000,-0.507000,0.677000,786.92100,2306.415,7.878,0.503,0.030000,0.046000,0.312,0.194,0.112000,0.001000,0.001000,0.002000,0.000000,Zimbabwe,ZWE
50597,2021,15993525.0,11.296000,0.688000,0.706000,798.21700,2313.889,7.475,0.467,0.030000,0.046000,0.312,0.190,0.111000,0.001000,0.001000,0.002000,0.000000,Zimbabwe,ZWE

In [34]:
df_no_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50598 entries, 0 to 50597
Data columns (total 20 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   year                                  50598 non-null  int64
 1   population                            50598 non-null  float64
 2   co2                                   50598 non-null  float64
 3   co2_growth_abs                        50598 non-null  float64
 4   co2_per_capita                        50598 non-null  float64
 5   cumulative_co2                        50598 non-null  float64
 6   cumulative_luc_co2                    50598 non-null  float64
 7   land_use_change_co2                   50598 non-null  float64
 8   land_use_change_co2_per_capita        50598 non-null  float64
 9   share_global_co2                      50598 non-null  float64
 10  share_global_cumulative_co2           50598 non-null  float64
 11  share_global_cumulative_luc_co2       50598 non-null  float64
 12  share_global_luc_co2                  50598 non-null  float64
 13  share_of_temperature_change_from_ghg  50598 non-null  float64
 14  temperature_change_from_ch4           50598 non-null  float64
 15  temperature_change_from_co2           50598 non-null  float64
 16  temperature_change_from_ghg           50598 non-null  float64
 17  temperature_change_from_n2o           50598 non-null  float64
 18  country                               50598 non-null  object
 19  iso_code                              50598 non-null  object
dtypes: float64(17), int64(1), object(2)
memory usage: 7.7+ MB

In [35]:
# Save to CSV
df_no_duplicates.to_csv('cleaned_data.csv', index=False)